<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
  <div>
    <p-button label="Check"></p-button>
  </div>

  <div class="">
    <p-floatLabel>
      <input pInputText id="username" />
      <label for="username">Username</label>
    </p-floatLabel>
  </div>


  <div class="">
    <p-sidebar [(visible)]="sidebarVisible">
      <h3>Sidebar</h3>
      <p>hi i am sidebar </p>
    </p-sidebar>
    <p-button (onClick)="sidebarVisible = true" icon="pi pi-arrow-right" />
  </div>


  <h1 class="text-3xl font-bold underline">
    Hello world!
  </h1>

</div>