<div class="container-fluid p-0">

    <p-sidebar [(visible)]="sidebarVisible" styleClass="w-25 p-0">
        <ng-template pTemplate="header">
            <span class="fw-bold text-capitalize">feedback system</span>
        </ng-template>
        <app-sidebar></app-sidebar>
    </p-sidebar>

    <p-menubar [model]="items" class="border-0">
        <ng-template pTemplate="start"></ng-template>
        <ng-template pTemplate="end">
            <div class="d-flex align-items-center gap-2">
                <input type="text" pInputText placeholder="Search..." />
                <div class="">
                    <p-menu #menu [model]="menuItems" [popup]="true" />
                    <p-button (onClick)="menu.toggle($event)" [text]="true" icon="pi pi-ellipsis-v" />
                </div>
            </div>
        </ng-template>
    </p-menubar>

</div>
<router-outlet></router-outlet>